### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "./purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#change to unique
players = df["SN"].unique()
players = len(players)
print("Total number of players: " + str(players))

Total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
itemdf = pd.DataFrame({"Number of Unique Items": [df["Item Name"].nunique()], 
                "Average Item Cost": [df["Price"].mean()],
                "Purchases": [df["Item Name"].count()], 
                "Total Purchased": [df["Price"].sum()]})
itemdf["Average Item Cost"] = itemdf["Average Item Cost"].astype(float).map("${:,.2f}".format)
itemdf["Total Purchased"] = itemdf["Total Purchased"].astype(float).map("${:,.2f}".format)
itemdf.head()

   Number of Unique Items Average Item Cost  Purchases Total Purchased
0                     179             $3.05        780       $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
new_df = df.drop_duplicates("SN")
totalgender = new_df['Gender'].count()
malecount = new_df['Gender'].value_counts()['Male']
femalecount = new_df['Gender'].value_counts()['Female']
othercount = new_df['Gender'].value_counts()['Other / Non-Disclosed']

genderdf = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                         "Total Count": [malecount, femalecount, othercount],
                         "Percentage of Players": [malecount / totalgender, 
                        femalecount / totalgender,
                        othercount / totalgender]})
genderdf["Percentage of Players"] = genderdf["Percentage of Players"] * 100
genderdf["Percentage of Players"] = genderdf["Percentage of Players"].astype(float).map("{0:.2f}%".format)
genderdf.head()

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchasedf = df.groupby('Gender')
purchgender = purchasedf["Gender"].unique()
purchcount = purchasedf["Price"].count()
avgpurch = purchasedf["Price"].mean()
totalpurch = purchasedf["Price"].sum()
avgperperson = totalpurch/purchcount

avgpurchdf = pd.DataFrame({"Purchase Count": purchcount,
                           "Average Purchase Price": avgpurch,
                         "Total Purchase Value": totalpurch,
                          "Average Total Purchase per Person":avgperperson})
avgpurchdf["Average Purchase Price"] = avgpurchdf["Average Purchase Price"].astype(float).map("${:,.2f}".format)
avgpurchdf["Total Purchase Value"] = avgpurchdf["Total Purchase Value"].astype(float).map("${:,.2f}".format)
avgpurchdf["Average Total Purchase per Person"] = avgpurchdf["Average Total Purchase per Person"].astype(float).map("${:,.2f}".format)
avgpurchdf.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0,9,14,19,24,29,34,39,100]
age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

new_df["Age Range"] = pd.cut(new_df["Age"], age_bins, labels=age_groups)
agedf = new_df.groupby("Age Range")
agecount = agedf["Age Range"].count()
agepercent = agecount/totalgender
agepercent = agepercent * 100

agerangedf = pd.DataFrame({"Total Count": agecount,
                          "Percentage of Players": agepercent })
agerangedf["Percentage of Players"] = agerangedf["Percentage of Players"].astype(float).map("{0:.2f}%".format)
agerangedf.head()

C:\Users\rirvi\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_bins = [0,9,14,19,24,29,34,39,100]
age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

df["Age Range"] = pd.cut(df["Age"], age_bins, labels=age_groups)

agepurchasedf = df.groupby('Age Range')
purchage = agepurchasedf["Age Range"].unique()
agepurchcount = agepurchasedf["Price"].count()
ageavgpurch = agepurchasedf["Price"].mean()
agetotalpurch = agepurchasedf["Price"].sum()
ageavgperperson = agetotalpurch/agecount

ageavgpurchdf = pd.DataFrame({"Purchase Count": agepurchcount,
                           "Average Purchase Price": ageavgpurch,
                         "Total Purchase Value": agetotalpurch,
                          "Average Total Purchase per Person":ageavgperperson})
ageavgpurchdf["Average Purchase Price"] = ageavgpurchdf["Average Purchase Price"].astype(float).map("${:,.2f}".format)
ageavgpurchdf["Total Purchase Value"] = ageavgpurchdf["Total Purchase Value"].astype(float).map("${:,.2f}".format)
ageavgpurchdf["Average Total Purchase per Person"] = ageavgpurchdf["Average Total Purchase per Person"].astype(float).map("${:,.2f}".format)
ageavgpurchdf.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
snpurchasedf = df.groupby('SN')
purchsn = snpurchasedf["SN"].unique()
snpurchcount = snpurchasedf["Price"].count()
snavgpurch = snpurchasedf["Price"].mean()
sntotalpurch = snpurchasedf["Price"].sum()
snavgperperson = sntotalpurch/snpurchcount

snavgpurchdf = pd.DataFrame({"Purchase Count": snpurchcount,
                           "Average Purchase Price": snavgpurch,
                         "Total Purchase Value": sntotalpurch})
snavgpurchdf["Average Purchase Price"] = snavgpurchdf["Average Purchase Price"].astype(float).map("${:,.2f}".format)
snavgpurchdf["Total Purchase Value"] = snavgpurchdf["Total Purchase Value"].astype(float).map("${:,.2f}".format)
snavgpurchdf = snavgpurchdf.sort_values(by=["Purchase Count","Total Purchase Value"], ascending=False)
snavgpurchdf.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Iral74                     4                  $3.40               $13.62
Haillyrgue51               3                  $3.17                $9.50
Aina42                     3                  $3.07                $9.22

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
itempurchasedf = df.groupby('Item Name')
purcheitem = itempurchasedf["Item Name"].unique()
itempurchcount = itempurchasedf["Price"].count()
itemavgpurch = itempurchasedf["Price"].mean()
itemtotalpurch = itempurchasedf["Price"].sum()
itemavgperperson = itemtotalpurch/itempurchcount

itemavgpurchdf = pd.DataFrame({"Purchase Count": itempurchcount,
                           "Item Price": itemavgpurch,
                         "Total Purchase Value": itemtotalpurch})
itemavgpurchdf["Item Price"] = itemavgpurchdf["Item Price"].astype(float).map("${:,.2f}".format)
itemavgpurchdf["Total Purchase Value"] = itemavgpurchdf["Total Purchase Value"].astype(float).map("${:,.2f}".format)
itemavgpurchdf = itemavgpurchdf.sort_values(by="Purchase Count", ascending=False)
itemavgpurchdf.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
itemavgpurchdf = itemavgpurchdf.sort_values(by=["Purchase Count","Total Purchase Value"], ascending=False)
itemavgpurchdf.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Nirvana,9,$4.90,$44.10
Fiery Glass Crusader,9,$4.58,$41.22
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77